.header {
  width: 100vw;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-bottom: 30px;
}

h1.app-title {
  margin: 10px;
  font-size: 22pt;
  cursor: pointer;
}

h1.app-title:focus {
  outline: none;
}

.mobile {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 40px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.mobile mat-icon {
  font-size: 24pt;
}

.hide {
  display: none;
  pointer-events: none;
}

.desktop-menu {
  display: none;
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.55);
  width: 100vw;
  height: 80px;
}

a.stats {
  text-decoration: none;
  color: black;
  font-size: 12pt;
}

a.stats:visited {
  color: black;
}

.sign-out {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 12pt;
}

.day-nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.day-buttons {
  width: 270px;
  display: flex;
  justify-content: space-evenly;
}

.day-button {
  font-size: 10pt;
  padding: 2px 8px;
  background-color: rgba(255, 255, 255, 0.55);
}

.day-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

button.arrow {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px 5px;
}

div.arrow-placeholder {
  width: 34px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-actions {
    display: block;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
  }

  .stats,
  .sign-out {
    margin: 0px 10px;
    cursor: pointer;
  }

  .day-nav {
    justify-content: center;
  }

  .day-buttons {
    width: 380px;
  }

  .day-button {
    font-size: 12pt;
    padding: 2px 18px;
  }
}
