<div class="header" *ngIf="userLoggedIn">
  <div class="top-nav">
    <h1 class="app-title" [routerLink]="['today']">Momentum</h1>
    <div class="mobile-menu">
      <button class="mobile" (click)="toggleMenu()" (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div [@popOverState]="stateName" class="user-actions" *ngIf="isShow">
        <a class="stats" [routerLink]="['/stats']">Stats</a>
        <button class="sign-out" (click)="signOut()">Sign out</button>
      </div>
    </div>
    <div class="desktop-menu">
      <div class="user-actions">
        <a class="stats" [routerLink]="['/stats']">Stats</a>
        <button class="sign-out" (click)="signOut()">Sign out</button>
      </div>
    </div>
  </div>

  <div class="day-nav">
    <button
      class="arrow left"
      *ngIf="showPreviousButton"
      (click)="showMoreDates(true)"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div *ngIf="!showPreviousButton" class="arrow-placeholder"></div>
    <div class="day-buttons">
      <div *ngFor="let date of datesVisible" (click)="goToDate(date)">
        <button mat-flat-button class="day-button">{{ date }}</button>
      </div>
    </div>
    <button
      class="arrow right"
      *ngIf="showNextButton"
      (click)="showMoreDates(false)"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <div *ngIf="!showNextButton" class="arrow-placeholder"></div>
  </div>
</div>
