.header-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: gray;
    opacity: 0.2;
    margin-top: 0;
    height: 125px;
  }

  .hide {
    display: none;
    pointer-events: none;
  }
  
  .header {
    width: 100vw;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .day-buttons{
    display: flex;
    align-items: left;
  }

  /* will add this feature on the desktop version */
/* .previous-day-container:hover {
  opacity: 1;
} */