<h1 [routerLink]="['/today']">Every Day For A Year</h1>
<div class="header" *ngIf="userLoggedIn">
  <mat-icon class="mobile-menu" (click)="toggleDays()">menu</mat-icon>
  <div class="header-container" *ngIf="!isShow">
    <div class="day-buttons">
      <div *ngFor="let date of dates" (click)="goToDate(date)">
        <button>{{ date }}</button>
      </div>
    </div>
    <div class="user-actions">
      <button class="history" [routerLink]="['/history']">History</button>
      <button class="stats" [routerLink]="['/stats']">Stats</button>
      <button class="sign-out" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>
