<div class="header" *ngIf="userLoggedIn">
  <h1 class="app-title"><a [routerLink]="['/today']">Momentum</a></h1>
  <button class="mobile-menu" (click)="toggleDays()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="header-container" *ngIf="!isShow">
    <div class="day-buttons">
      <div *ngFor="let date of dates" (click)="goToDate(date)">
        <button>{{ date }}</button>
      </div>
    </div>
    <div class="user-actions">
      <button class="stats" [routerLink]="['/stats']">Stats</button>
      <button class="sign-out" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>
