.today-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-evenly;
  margin: 0px 20px;
}

h1,
h2 {
  margin: 0px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22pt;
}

.top {
  text-align: center;
}

.goal {
  display: flex;
  justify-content: center;
}

.goal-desc {
  font-size: 18pt;
  margin-bottom: 10px;
}

input.new-goal {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid black;
}

.goal button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 5px;
}

.goal button mat-icon:hover {
  color: rgba(0, 0, 0, 0.65);
}

.date {
  font-size: 14pt;
}

.inputs {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mood {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}

.mood span {
  width: 90px;
}

.mood mat-icon {
  font-size: 90px;
}

.happy {
  color: rgb(15, 107, 38);
}

.medium {
  color: rgb(255, 242, 53);
}

.sad {
  color: rgb(235, 49, 29);
}

textarea {
  height: 100px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.save {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.author {
  text-align: right;
}

.quote-credit a {
  font-size: 8px;
  text-decoration: none;
  color: rgb(79, 79, 79);
}

.quote-credit a:visited {
  color: rgb(79, 79, 79);
}

.quote-container {
  display: none;
}
