.today-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  height: 80%;
}

.top {
  text-align: center;
}

.welcome {
  font-size: 16pt;
}

.date {
  font-size: 12pt;
  margin: 9px 0px;
}

.goal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.goal-desc {
  font-size: 14pt;
}

input.new-goal {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid black;
}

.goal button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.goal button mat-icon:hover {
  color: #186132;
}

.middle {
  background-color: rgba(255, 255, 255, 0.55);
  width: 100%;
  border-radius: 10px;
  height: 280px;
  margin-top: 15px;
}

.inputs {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mood {
  display: flex;
  justify-content: space-evenly;
  width: 270px;
  cursor: pointer;
  margin-bottom: 10px;
}

.mood span {
  width: 70px;
}

.mood mat-icon {
  font-size: 70px;
}

.happy {
  color: #186132;
}

.medium {
  color: #c39b07;
}

.sad {
  color: #c12716;
}

.selected {
  font-weight: 600;
}

textarea {
  height: 90px;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  resize: none;
}

button.save {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.55);
  border: 3px solid #186132;
  position: relative;
}

.check {
  font-size: 20pt;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #186132;
}

button.save:hover {
  background-color: #186132;
  border: none;
}

button.save:hover .check {
  color: white;
}

.quote {
  font-size: 12pt;
}

.author {
  text-align: right;
}

.quote-credit a {
  font-size: 8px;
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.quote-credit a:visited {
  color: rgb(41, 41, 41);
}

.quote-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .welcome {
    font-size: 22pt;
  }

  .date {
    font-size: 14pt;
    margin: 15px 0px;
  }

  .goal-desc {
    font-size: 18pt;
  }

  input.new-goal {
    font-size: 14pt;
    width: 230px;
  }

  .middle {
    height: 340px;
    width: 90%;
    max-width: 1000px;
  }

  .mood {
    width: 40%;
  }

  .mood span {
    margin: 0px 5px;
    width: 90px;
  }

  .mood mat-icon {
    font-size: 90px;
  }

  textarea {
    height: 120px;
    width: 60%;
  }

  @media only screen and (min-width: 1200px) {
    .today-container {
      justify-content: space-between;
    }

    .quote-container {
      display: block;
      margin-top: 15px;
    }
  }
}
