<div class="first-entry">
  First Entry:
  <span>{{ stats.firstEntry }}</span>
</div>
<div class="days-completed">
  Total Days Completed:
  <span>{{ stats.daysCompleted }}</span>
</div>
<div class="percentage-completed">
  Percent Of Days Completed:
  <span>{{ stats.percentageCompleted }}</span>
</div>
<div class="happy-count">
  Happy Days:
  <span>{{ stats.moodCount.happy }}</span>
</div>
<div class="medium-count">
  Medium Days:
  <span>{{ stats.moodCount.medium }}</span>
</div>
<div class="sad-count">
  Sad Days:
  <span>{{ stats.moodCount.sad }}</span>
</div>
