.loginPage {
  display: flex;
}

.login {
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 72%;
  border-radius: 10px;
  padding: 20px 15px;
  background-color: rgba(255, 255, 255, 0.55);
}

h1 {
  margin: 30px 0px;
  text-align: center;
}

.get-started {
  font-size: 18pt;
  margin-bottom: 10px;
}

button.google {
  font-size: 16px;
  padding: 15px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  width: 220px;
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  outline: none;
}

.google-logo {
  height: 20px;
  padding-right: 10px;
}

.pretty {
  display: none;
}

/* tablet screen size */
@media only screen and (min-width: 768px) {
  .pretty {
    width: 35vw;
    background-color: rgba(255, 255, 255, 0.55);
    height: 100vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 40px;
  }

  .app-title {
    display: none;
  }

  .login {
    width: 65vw;
    height: 100vh;
    align-items: center;
  }

  .box {
    width: 45%;
    margin: 40px 20px 20px;
  }
}

/* mobile screen size */
@media only screen and (min-width: 1200px) {
  .pretty {
    width: 35vw;
    background-color: rgba(255, 255, 255, 0.55);
    height: 100vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 40px;
  }

  .app-title {
    display: none;
  }

  .login {
    width: 65vw;
    height: 100vh;
    align-items: center;
  }

  .box {
    width: 45%;
    margin: 40px 20px 20px;
  }
}
