<h1 class="app-title">Momentum</h1>
<div class="loginPage">
  <div class="pretty">
    <h2>Welcome to Momentum!</h2>
    <p>
      An app created by Grand Circus grads
      <a href="https://www.linkedin.com/in/sean-doody/">Sean Doody</a>,
      <a href="https://www.linkedin.com/in/kennyduke/">Kenny Duke</a>, and
      <a href="https://www.linkedin.com/in/alyssa-meller/">Alyssa Meller</a>.
    </p>

    <p>
      Use this app to set your sights on a goal and then focus on taking small
      steps forward each day to gain Momentum.
    </p>

    <div class="github" title="Repo on Github">
      <a href="https://github.com/ajmeller/goalsetter-app" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
  <div class="login">
    <div class="box">
      <div class="get-started">Get Started</div>
      <button class="google" (click)="loginWithGoogle()">
        <img
          class="google-logo"
          src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
        />
        <span class="google">Sign In With Google</span>
      </button>
    </div>
  </div>
</div>
