html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  background-color: #9dbfe8;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
