html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  background-color: #9dbfe8;
}

* {
  box-sizing: border-box;
}

input:focus,
button:focus {
  outline: 0px;
}

button,
input,
a {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}
